.caption{
    text-align:center;
}
.intro_content{
    text-align: center;
    color:var(--green);
}
.navbtn_1{
    color:white;
    border: 2px solid var(--blue);
    background-color: var(--blue);
    border-radius:5px;
    font: 300 16px Poppins,sans-serif;
    box-shadow: 5px 10px 25px 0 rgb(46 61 73 / 5%);
}
.navbtn_2{
    color:var(--blue);
    border: 2px solid var(--blue);
    background-color: var(white);
    border-radius:5px;
    font: 300 16px Poppins,sans-serif;
    box-shadow: 5px 10px 25px 0 rgb(46 61 73 / 5%);
}
@media screen and (max-width:768px) {
    .intro_container{
        padding-top:1.5rem;
    }
    
}
@media screen and (min-width:481px) {
    .btns{
        display: none !important;;
    }
}

